html {
	background-color: white;
	min-height: 100vh;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
a {
	display: block;
	font-size: 1.5em;
	color: red;
	text-decoration: none;
	margin-bottom: 1rem;
}